1. Write a program that reads an integer salary then:

	If salary < 1000,
	- Print you are poor
	elif salary greater than or equal to 1000 and less than 20000
	- Print good salary
	elif salary greater than or equal to 20000
	- Print you are rich

In [1]:
salary = int(input("Enter your salary: "))

if salary < 1000:
    print("You are POOR")
elif 1000 <= salary < 20000:
    print("GOOD salary")
elif salary >= 20000:
    print("You are RICH")

Enter your salary:  19000

GOOD salary

2. Write a Python program that receives the age of the user and display whether he/she can drive a car. If the user is above 18 years old, he/she can drive.

In [2]:
age = int(input("Enter your age: "))

if age > 18:
    print("Can drive a car")
else:
    print("Can't drive a car")

Enter your age:  21

Can drive a car

3. Write a Python program that finds the minimum of three values a , b and c.

In [5]:
a, b, c = map(int, input("Enter 3 numbers: ").split())
print(min(a, b, c))

Enter 3 numbers:  6 8 0

0

4. Write a Python program that divides two numbers together and display the result. However, if the second number is a zero then the calculation can't be done as dividing a number by zero gives a result of ‘infinity’.

In [7]:
n1, n2 = map(int, input("Enter two numbers: ").split())
if n2 != 0:
    print(n1/n2)
else:
    print("infinty")

Enter two numbers:  3 0

infinty

5. We need to print 0,3,6,9,12 using for loop

In [9]:
for i in range(0, 13, 3):
    print(i, end=" ")

0 3 6 9 12

6. We need to print 0 ,3 ,6 ,9 ,12 and index of positions using for loop -> hint: enumerate function

In [10]:
for idx, val in enumerate(range(0, 13, 3)):
    print(f"idx: {idx}, value: {val}")

idx: 0, value: 0
idx: 1, value: 3
idx: 2, value: 6
idx: 3, value: 9
idx: 4, value: 12

7. Given a list of numbers. write a program to turn every item of a list into its square
	- lst = [1, 2, 3, 4, 5, 6, 7]
	- result = [1, 4, 9, 16, 25, 36, 49]

In [11]:
lst = [1, 2, 3, 4, 5, 6, 7]
for i in lst:
    print(i*i, end=" ")

1 4 9 16 25 36 49

8.  write a program to Concatenate two lists

In [13]:
# Solution 1
lst1 = ["Ashraf", 3, False, 3.5]
lst2 = [44, True, "Salah", 93.7]

lst1.extend(lst2)
print(lst1)

['Ashraf', 3, False, 3.5, 44, True, 'Salah', 93.7]

In [14]:
# Solution 2
lst1 = ["Ashraf", 3, False, 3.5]
lst2 = [44, True, "Salah", 93.7]

lst1 += lst2
print(lst1)

['Ashraf', 3, False, 3.5, 44, True, 'Salah', 93.7]

9. write a program to Reverse the tuple

In [22]:
tup = ("Ashraf", 6, True, 5, 0, "Sa", 3.55)
for i in reversed(tup):
    print(i, end=" ")

print("")
# Another solution
for i in tup[::-1]:
    print(i, end=" ")

3.55 Sa 0 5 True 6 Ashraf
3.55 Sa 0 5 True 6 Ashraf

10. Convert two lists into a dictionary
 	- keys = ['Ten', 'Twenty', 'Thirty']
 	- values = [10, 20, 30]

In [24]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

dic = {}
for idx, key in enumerate(keys):
    dic[key] = values[idx]

print(dic)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}